

.random__wrapper {
    width: 50%;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    p {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4px;
        color: #fff;
    }
}